# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Production build
build/

# Environment variables
.env*.local
.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store

# Vercel
.vercel